.pricingContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin-top:10vh;
}

.pricingContainer h3 {
    font-size: 52px;
    font-weight: 600;
    font-family: 'Poppins';
    color: var(--dark-blue-text);
}

.pricingContainer h3 small {
    font-size:24px;
    color: var(--light-blue-text);
    font-weight:500;
    margin-left: 2vw;
}

.optionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

